---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="EthGlobal Hackathon Journey">
	<div class='max-w-4xl mx-auto'>
		<article
			class='prose max-w-none prose-headings:text-base-content prose-p:text-base-content/80'
		>
			<!-- Header section -->
			<div class='mb-8 border-b pb-8'>
				<h1 class='text-4xl font-bold mb-4 text-base-content'>My EthGlobal Hackathon Journey</h1>
				<p class='text-lg text-base-content/70'>
					A quick journey through my experiences building at EthGlobal hackathons around the world.
				</p>
			</div>

			<!-- Hackathon entries -->
			<div class='space-y-12 mt-8'>
				<!-- Bangkok -->
				<div>
					<h2 class='text-2xl font-bold mb-4 text-base-content'>EthGlobal Bangkok 2024</h2>
					<blockquote class="twitter-tweet">
						<p lang="en" dir="ltr">
							Had a blast building with <a href="https://twitter.com/CoWSwap?ref_src=twsrc%5Etfw">@CoWSwap</a>, <a href="https://twitter.com/eulerfinance?ref_src=twsrc%5Etfw">@eulerfinance</a>, <a href="https://twitter.com/PythNetwork?ref_src=twsrc%5Etfw">@PythNetwork</a>, and <a href="https://twitter.com/brevis_zk?ref_src=twsrc%5Etfw">@brevis_zk</a> at <a href="https://twitter.com/ETHGlobal?ref_src=twsrc%5Etfw">@ETHGlobal</a> 2024 in Bangkok with @vinays789 and <a href="https://twitter.com/CryptoIbuki?ref_src=twsrc%5Etfw">@CryptoIbuki</a> 🔥<br><br>
							Despite the challenges with WiFi and Ethernet, we got the initial idea manifested!!!<br><br>
							…me yelling my heart out <a href="https://twitter.com/TheRealKartik?ref_src=twsrc%5Etfw">@TheRealKartik</a> <a href="https://t.co/7ihpeBb0oh">pic.twitter.com/7ihpeBb0oh</a>
						</p>
						&mdash; Rashid McMoodoo (@mcmoodoo) <a href="https://twitter.com/mcmoodoo/status/1862729690538287298?ref_src=twsrc%5Etfw">November 30, 2024</a>
					</blockquote>
				</div>

				<!-- NYC -->
				<div>
					<h2 class='text-2xl font-bold mb-4 text-base-content'>EthGlobal NYC</h2>
					<blockquote class="twitter-tweet">
						<p lang="en" dir="ltr">
							Won 3rd place from <a href="https://twitter.com/UniswapFND?ref_src=twsrc%5Etfw">@UniswapFND</a> at <a href="https://twitter.com/ETHGlobal?ref_src=twsrc%5Etfw">@ETHGlobal</a> in NYC! Thanks <a href="https://twitter.com/saucepoint?ref_src=twsrc%5Etfw">@saucepoint</a> and other UF folks for helping me pivot and invalidate ideas!<br><br>
							Ended up implementing a custom pool for rebasing tokens using <a href="https://twitter.com/Uniswap?ref_src=twsrc%5Etfw">@Uniswap</a> v4 hook's composability.<br><br>
							Thrilled to implement more of my ideas with v4! <a href="https://t.co/rubtLzeGGz">pic.twitter.com/rubtLzeGGz</a>
						</p>
						&mdash; Rashid McMoodoo (@mcmoodoo) <a href="https://twitter.com/mcmoodoo/status/1959719613018607886?ref_src=twsrc%5Etfw">August 24, 2025</a>
					</blockquote>
				</div>

				<!-- Buenos Aires -->
				<div>
					<h2 class='text-2xl font-bold mb-4 text-base-content'>EthGlobal Buenos Aires</h2>
					<blockquote class="twitter-tweet">
						<p lang="en" dir="ltr">
							Thanks to <a href="https://twitter.com/1inch?ref_src=twsrc%5Etfw">@1inch</a> for awarding us 2nd place 😃. That wraps up our journey at <a href="https://twitter.com/ETHGlobal?ref_src=twsrc%5Etfw">@ETHGlobal</a> Buenos Aires, the last hackathon of the year 😔 <a href="https://t.co/jMDHb2jnaR">pic.twitter.com/jMDHb2jnaR</a>
						</p>
						&mdash; Rashid McMoodoo (@mcmoodoo) <a href="https://twitter.com/mcmoodoo/status/1992701244713127950?ref_src=twsrc%5Etfw">November 23, 2025</a>
					</blockquote>
				</div>
			</div>
		</article>
	</div>
</Layout>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
